/*CSS styling for Bio page*/
h1, p{
    color: white;
    font-weight: bold;
}


img{
    width:400px;
    height: 500px;
}

footer{
    font-size:60px;
    
}

body{
    background-image: url("https://lh3.googleusercontent.com/2XlCRBcvKFGco18Xhofn5tIq0ujKs01iazF0aaegiuJIgHxSAVZJ3AypNfPqmy4QGHRZaJSmyh7Q5AsSqVNEJoXnk5CzeGIwa2PgUT0Yb2CF4Y5vP9woHfvgfJyOaD44JzpolykM-8hnccNgEbI4oH31ug8GRKwKPQW5yO-p8yQLkToq0C_B4i4xcxskxBrZU9wJHMQHGcqucbx1bSXjCINukadJJetrBbUtJlf_rRTN03edXE893iD66RuP4Y0tJnJ4k4d311wk8pzZWHq8nwl1Po-KXQERRIc6NudMCyaMFaGrjZoZqXSXeaaK0rhZHqaRg4WHZpC_qgWhlfxq5MtWjx81d0y-BRnREqX6D2HQyMdMsRHP76J0HP_g6n1zr40PtBWjvdL-ckcfgxLXOasJK_8hJ7LmiugICzERNdnQHT9KlmRRfpOhYIK2rYJpVQQBQ4Yg0fnXK-qJtTLN86zQVFDHLahsaZ35-gXvA_t5-gN-yA9viaaOq2lfAsKsLSCFNbyJPHIHFLJOqbYvNwY9iQf72g06KIPlWe6X5-Cf3QiBxcQK_rQa9y4_b_Fy4kKlBBshri71HDmRaXT66Dm4j_lY0BF_u5bHEhHX6eMxJ-ikK6Layb0MTKb_Cemg9SgRH6Kir8492VfOD8Q43AK7UFrWn4_Wjt4U4ZjQk1iyo3SjvB7-Xte39rQ=w1024-h768-no?authuser=0");
    background-repeat: no-repeat;
    background-size: cover;

}

/*CSS styling for Portfolio page*/








