/*style for portfolio*/

#navContact,
#navBio {
  font-size: larger;
}
title {
  color: white;
}

h3 {
  color: whitesmoke;
}
#projects {
  background-image: url("./Assets/Welding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-position: center center;
}

#contact {
  background-image: url("./Assets/Ruins.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#bio {
  background-image: url("./Assets/Hawaii.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
#bioText {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
}

#title,
p {
  color: black;
  font-weight: bold;
}

#img {
  width: 400px;
  height: 550px;
}
footer {
  font-size: 60px;
}
#crypto {
  width: 500;
  height: 400;
}
#link {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  color: black;
  font-weight: 500;
  font-size: larger;
}
#bioLink,
#contactLink {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  color: black;
  font-weight: 500;
  font-size: larger;
}
body {
  background-image: url("./Hawaii.JPG");
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: cover;
  top: 0;
  left: 0;
}
