/*style for portfolio*/

#portfolio{
    background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3eQCNZ9WjUNywDHi6O_W8QmoY12SyWsMJS-T8-QydD3kD-gwWqRTNQlv8s8BV-UJNQOfnA-XwwoXDsLoJPOHXGD59krAoSTNaGr1Gvpr4XvKvOJvCT4zpaH_4QFT443kJzkNycJ1Y_QWCbp9ABKR6xtL4pMzvNT6JE9fc4Hep4mO6kACJc3Tmj0hhuFmQRFjpRB4L2Cx6BrMa02NHa9OjvFMvZS29Ucx-r_P-3tzVh8L-d8zCyvj-E0_FPY644IFL1t4kO4tKRTrKTg2FLIRQstC9oZThaL8AauFy8D72Y-4Ym_p-tlsggjfjn9iAYZt7DWJckxeO1CGXtuxJ7jGWAtBh4w9AfFvIwUsnxJKNr-cupAxto1l2_yv4_oOJ6s6eYfVfBpASOEo64PlYWn72yV_LwJLIdFY5FfmZNuQXcu5sYBSV8EKaPHq_ZU5dwTcfmZrIK8pRbZOjTLe2XjMCfVV_dSfVo_uucIkVMdJlfQVN7yKqAY00QZFKlCAOyk6dNy-mW_V6vGnALF4tzmZG6n-UfnUHK_lEZbUo7tHPC-SETYtTS_Z11kfB7HC3opkKznrndgfu_dphn9LUBg99H7nRJw-CG74nutmA0Oij69gulnpZqhayZpm019kKP3J-PxmVEPwyE_G3OkADTfpKU_vBG_uzTLuzjeeTdviACI49dYPINN7Reo_cmQPze2b920ChAjgTEXRdoUaho=w1250-h937-no?authuser=0&authuser=0");
    background-size: cover;
    background-repeat: no-repeat;
    }
/*style for contact page*/
#contact{
     background-image: url("https://lh3.googleusercontent.com/P7yv462H0hHuMJPmSbPxapsu5JbFER-ifIgkf3BuEMwfWWIXcR-b0Mq_OdNKqWRbOkmvBxaWk0KqQeUCy6VDUedh3ZBLXp_RMiJf3XMgGeR5aJtSxYqsixv6NryhjqaOIqyvEItpyyhv5MfWRW074sE_3KCwZhlmNx5r-BdvWSj08PFdS2X7cOPbPht4HHgEEsXUJ9z29cvuT6_1uP4eWjJMKkVGQfo_zgcv7okLe3bVT941sIJzHvoTgRw9cmxlBkVBKZZEbxG_CDq-lz2e9eZEi7lHyM2Qh3TbjkMTmcr6EGVDASv31c5NMhjIwW6KPPqR3spC_J4TbTQQK_QCg_5HaG6UFQ2XUeEF37fn4jKELyWZkgN7Yt4xQFA2Q6s2OcphTEQzNGOftLLQyHYqw8DW_Y6zsng6wUsePSG6lpHERxW5fLKE5jFJwWL-qsAkTURRubrLUUL8D5QKXnaaC6kSPOvMXs60VKUUCkAXNfqHkbSLaOmA1vsvw2gVx48dG8qlx5wNan3tAp9zjPvUwMyrHB-LioqWy31UlkeOhRnyWduf0k96PEq9Ul-bbAq8IEP65fKh-NgsmnpowOZMEsmrwopicV5k_2nAY9k3nL15IJx4Uzrf_13A72U6w8tOHFdqjMivG0CAeo7Gb3yg9FuadA98l4b9aq2Dcv7LP7TUDqzxPjRCKFgQl8jM=w1047-h785-no?authuser=0");
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    

  
/*style for bio page*/
    #bio{
    background-image: url("https://lh3.googleusercontent.com/2XlCRBcvKFGco18Xhofn5tIq0ujKs01iazF0aaegiuJIgHxSAVZJ3AypNfPqmy4QGHRZaJSmyh7Q5AsSqVNEJoXnk5CzeGIwa2PgUT0Yb2CF4Y5vP9woHfvgfJyOaD44JzpolykM-8hnccNgEbI4oH31ug8GRKwKPQW5yO-p8yQLkToq0C_B4i4xcxskxBrZU9wJHMQHGcqucbx1bSXjCINukadJJetrBbUtJlf_rRTN03edXE893iD66RuP4Y0tJnJ4k4d311wk8pzZWHq8nwl1Po-KXQERRIc6NudMCyaMFaGrjZoZqXSXeaaK0rhZHqaRg4WHZpC_qgWhlfxq5MtWjx81d0y-BRnREqX6D2HQyMdMsRHP76J0HP_g6n1zr40PtBWjvdL-ckcfgxLXOasJK_8hJ7LmiugICzERNdnQHT9KlmRRfpOhYIK2rYJpVQQBQ4Yg0fnXK-qJtTLN86zQVFDHLahsaZ35-gXvA_t5-gN-yA9viaaOq2lfAsKsLSCFNbyJPHIHFLJOqbYvNwY9iQf72g06KIPlWe6X5-Cf3QiBxcQK_rQa9y4_b_Fy4kKlBBshri71HDmRaXT66Dm4j_lY0BF_u5bHEhHX6eMxJ-ikK6Layb0MTKb_Cemg9SgRH6Kir8492VfOD8Q43AK7UFrWn4_Wjt4U4ZjQk1iyo3SjvB7-Xte39rQ=w1024-h768-no?authuser=0");
    background-repeat: no-repeat;
    background-size: cover;
}

#title, p{
    color: white;
    font-weight: bold;
}


#img{
    width:400px;
    height: 500px;
}

footer{
    font-size:60px;
    
}